<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Explorer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="searchTerm" placeholder="Search recipes..."></ion-input>
    <ion-button (click)="searchRecipes()">Search</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let recipe of recipes" [routerLink]="['/recipe', recipe.idMeal]">
      <ion-label>{{ recipe.strMeal }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
